body.custom {
    padding: 40px !important;
    box-sizing: border-box;
}

body.custom p:first-of-type,
body.custom h1 {
    margin-top: 0 !important;
}

body.custom p {
    text-indent: 0 !important;
}